.feed {
	top: 0; left: 0;
  	font-size: 20px;
  	display: flex;  
  	text-align: center;
	font-family: 'Caveat Brush';	
}
.feed > * {
  	padding: 10px;
  	flex: 100%;
}
.header {
	width: 100%;
	position: fixed;
	top: 0; left: 0;
	text-align: left;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: white;
	display: flex;
}
.portal_name {
	width: 150px;
	height: 40px;
}
.search {
	display: flex;
	margin-left: 40px;
	padding: 7px;
	width: 70%;
	margin-right: 10px;
}
.search_fild {
	margin-left: 10px;
	margin-right: 160px;
	height: 20px;
	width: 70%;
}
.madnifier {
	display: none;
	width: 25px;
	height: 25px;
}
.button {
	background: lightgreen; 
	position: fixed; 
	margin: 0px;
	width: 120px;
	font-family: 'Caveat Brush';
	font-size: 20px;
}
.button_log {
	display: none;
	right: 0;
  	top: 32px;
}
.button_sign {
	display: none;
	right: 0;
	top: 0;
}
.button_load_more {
	right: 30px;
	bottom: 30px;
	display: inline;
	background:rgb(241, 243, 223);
	box-shadow: 0 0 10px rgb(131, 95, 95);
}
.button_new_post {
	position: static;
	margin: 0 0 0 30px;
}
.profile {
	display: flex;
	width: 500px;
}
.name_logout {
	display: flex;
	flex-direction: column-reverse;
}
.name_logout > * {
	flex: 100%;
}
.curtain 	{
	display: none;
	background: lightgreen;
}
.main {
 	margin: 73px 10px 0px 10px;
  	text-align: center;
  	background:rgb(241, 243, 223);
	box-shadow: 0 0 10px rgb(131, 95, 95);
	height: fit-content;
	display: flex; 
}
.main > * {
 	padding: 10px;
  	flex: 100%;
}
.column_feed {
	flex-direction: column-reverse;
}
.column_feed > *{
	flex: 100%;
}
.img_feed {
	width: 100%;
}
.post {
	background:lightgreen;
	display: flex;
	height: fit-content;
	flex-direction: column;
	margin-bottom: 10px;
	padding: 3px;
	box-shadow: 0 0 10px rgb(131, 95, 95);
}
.prof_information {
	display: flex;
}
.post_information {
	flex: 100%;
}
.img_small {
	width: 60px;
	height: 60px;
	margin: 0px; 
}
.img_big {
	height: 100%;
}
.post_big {
	padding: 50px 20px 50px 100px;
	overflow: auto;
	display: flex;

}
.profname_date{
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 20px;
	width: 100%;
}
.button_edit {
	height: 20px;
}
.post_text_like {
	display: flex;
	margin-top: 10px;
}
.img_like {
	width: 30px;
	height: 30px;
}
.button_like {
		height: fit-content;
	width: fit-content;
	padding: 0px;
}
.text {
	margin-left: 10px;
	font-family: 'Caveat Brush';  
}
.text_big_photo {
	color: green;
	font-size: 30px;
	font-family: 'Caveat Brush';
}
.footer {
	background: lightgreen; 
	position: fixed; 
  	left: 9px; bottom: 0;
	font-size: 18px;
	margin-bottom: 10px;
}

@media all and (min-width: 1560px) {
  .curtain { flex: 1; display: flex;}
  .main  { flex: 8 }
  .madnifier {display: flex;}
}

.black_window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: none;
}
.black_window_inner {
	background: rgba(0, 0, 0, 0.8);
	display: fixed;
	height: 100%;
	width: 100%;
}

.desc_like {
	padding: 10px 50px 10px 50px;
}
.button_close{
	top: 50px;
	right: 50px;
	position: fixed;
	height: fit-content;
	width: fit-content;
	padding: 0px;
}
.edit_input{
	margin: 10px;
	height: 30px;
	font-size: 20px;
	font-family: 'Caveat Brush';
}
.edit_hashtags{
	margin: 10px;
	height: 30px;
	font-size: 20px;
	font-family: 'Caveat Brush';
}